/*
*  STILI GENERICI
*/

body
{
	width                         : 100%;
	margin                        : 0px;
	padding                       : 0px;
	text-align                    : center;
	background-image              : url("../images/general/sfondo.png");
	background-position           : center;
	background-repeat             : repeat-y;
	background-color              : #9EADB0;
	background-attachment         : fixed;
}

.container
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	width                         : 800px;
	margin                        : 0 auto;
	text-align                    : left;
}


/*
*  STILI PER TESTATA
*/

.header
{ 
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	width                         : 100%;
	font-size                     : 0px;
	z-index                       : 1;
}

.headerImage
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
}

.headerTitle
{
	position                      : absolute;
	top                           : 49px;
	left                          : 273px;
	width                         : 255px;
	font-family                   : Arial;
	font-size                     : 20px;
	color                         : #FFFFFF;
	text-align                    : center;
}

.headerSubTitle
{
	position                      : absolute;
	top                           : 74px;
	left                          : 273px;
	width                         : 255px;
	font-family                   : Arial;
	font-size                     : 14px;
	color                         : #FFFFFF;
	text-align                    : center;
}

.homeText
{
	position                      : absolute;
	top                           : 310px;
	left                          : 10px;
	width                         : 780px;
	font-family                   : Arial;
	font-size                     : 12px;
	color                         : #FFFFFF;
	text-align                    : center;
}

/*
*	STILI PER MENU
*/

.headerMenu
{
	position                      : absolute;
	top                           : 156px;
	left                          : 215px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 0px;	
}

.headerMenuUl
{
	position                      : relative;
	list-style                    : none;
	top                           : 0px;
	left                          : 0px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 0px;	
}

.headerMenuLi
{
	float			: left;
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 0px 20px 0px 0px;
	font-size                     : 0px;
}

.headerMenuSpan
{
	font-family                   : Arial;
	font-size                     : 11px;	
	color                         : #000000;	
}

.headerSubMenuUl
{
	position                      : absolute;
	display                       : none;
	list-style                    : none;
	top                           : 0px;
	left                          : 0px;
	width                         : 110px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 29px 0px 5px 0px;
	background-image              : url('../images/general/filler.png');
	background-repeat             : repeat;
}

.headerSubMenuLi
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 0px 0px 0px 9px;
	background-image              : url('../images/general/menuItem.png');
	background-position           : center;
	background-repeat             : no-repeat;
	height                        : 19px;
} 

.headerMenuA
{
	display                       : block;
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	width                         : 100px;
	line-height                   : 19px;
	color                         : #000000;
	font-family                   : Arial;
	font-size                     : 11px;
	cursor                        : pointer;
	text-decoration               : none;
}


/*
*  STILI PER FOOTER
*/

.footer
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	width                         : 100%;
	height                        : 30px;
	background-image              : url("../images/general/footer.png");
	background-position           : center;
	background-repeat             : no-repeat;
}

.footerMenu
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 4px 0px 0px 0px;
	text-align                    : center;
}

.footerMenuUl
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	list-style                    : none;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 0px;
}

.footerMenuLi
{
	display                       : inline;
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	margin                        : 0px;
	border                        : 0px;
	padding                       : 0px 30px 0px 0px;
}

.footerMenuA
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	color                         : #FFFFFF;
	font-family                   : Arial;
	font-size                     : 11px;
	cursor                        : pointer;
	text-decoration               : none;
}


/*
*  STILI PER I CONTENUTI
*/

.contentsPadded
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	width                         : 750px;
	padding                       : 20px 25px 10px 25px;
	background-color              : #FFFFFF;
	overflow			: hidden;
	font-size                     : 0px;
}

.contents
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	width                         : 800px;
	padding                       : 0px;
	background-color              : #FFFFFF;
	overflow			: hidden;
	font-size                     : 0px;
}

.title
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	padding-bottom                : 20px;
	font-family                   : Arial;
	font-size                     : 16px;
	font-weight                   : bold;
	font-variant                  : small-caps;
	color                         : #0C2A44;
}

.paragraph
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	padding                       : 0px 0px 20px 0px;
}


.bigParagraph
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	padding                       : 0px 0px 60px 0px;
}

.smallParagraph
{
	position                      : relative;
	top                           : 0px;
	left                          : 0px;
	padding                       : 0px 0px 10px 0px;
}

.paragraphJustified
{
	text-align                    : justify;
}

.paragraphRight
{
	text-align                    : right;
}

.text
{
	font-family                   : Arial;
	font-size                     : 13px;	
	line-height                   : 20px;
}

.textNormal
{
	color                         : #000000;
}

.textBold
{
	color                         : #0C2A44;
	font-weight                   : bold;
}

.textExtraBold
{
	color                         : #0C2A44;
	font-weight                   : bold;
	font-size                     : 15px;
}

.textEmph
{
	color                         : #0C2A44;
	font-style                    : oblique;
}

.textUl
{
	margin                        :  0px;
	border                        :  0px;
	padding                       :  0px;
}

.textLi
{
	margin                        :  0px  0px  0px 40px;
	border                        :  0px;
	padding                       : 15px  0px  0px 10px;
}

.column
{
	position                      : relative;
	float                         : left;
}

.endColumns
{
	position                      : relative;
	clear                         : both;
}

.link
{
	text-decoration               : none;
	color                         : #0044aa;
}

.image
{
	border                        : 0px;
	vertical-align: middle;
}